@font-face {
  font-family: china;
  src: url('./font/China\ Syndrome\ DEMO.otf');
}

@font-face {
  font-family: kanit;
  src: url('./font/Kanit-Regular.ttf');
}

@font-face {
  font-family: font;
  src: url('./font/2547_DthinN.ttf');
}

body {
  background: black url('asset/bg.jpg') no-repeat center 0;
  font-family: kanit;
  color: #ddd6b9;
}

.world-info {
  font-family: font;
  list-style: none;
  font-size: 24px;
}

.kanit {
  font-family: kanit;
}

.App {
  text-align: center;
  width: 1100px;
  padding-left: 90px;
  padding-right: 90px;
  margin: auto;
  padding-bottom: 30px;
}

.header-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 140px;
  height: 465px;
}

.world-info {
  text-align: left;
}

.country-container {
  margin-top: 175px;
  position: relative;
}

.high-defect-section {
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px;
  width: 100%;
}

.rect {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  font-size: 20px;
}

.h7 {
  font-size: 19px;
}

.hr-line {
  border-top: solid 1px #ddd6b9;
  padding-left: 100px;
  vertical-align: -16px;
  margin: 0 20px;
}

.hidden {
  display: none;
}